.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin-right: 5px;
}

.post-form-textarea {
  width: 100%;
  height: 300px;
  resize: none;
  outline: 0;
}

.reg-wrapper {
  display: flex;
  width: 12rem;
  max-width: 100%;
  justify-content: space-between;
}

.post-header-wrapper {
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  justify-content: space-between;
}

.small-text {
  font-weight: normal;
  font-size: .85rem;
}

.post-header-info-wrapper {
  display: flex;
  flex-direction: column;
}

.post-actions-wrapper {
  display: flex;
  align-items: center;
}

.edit-post-btn {
  box-sizing: content-box;
  padding: .25em;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}